* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
  height: 200px;
}

.search-bar {
  border: none;
  outline: none;
  width: 330px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

button.category-btn span {
  text-decoration: none !important;
}

.category-btn:hover {
  background-color: #76232f;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.category-btn span {
  text-decoration: none;
}

a,
span {
  text-decoration: none;
  border-bottom: none !important;
  outline: none !important;
  font-size: 14px;
}

.new-video {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 200px;
  }
}
